/* Page Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
body {
    background-color: hsl(0, 0%, 0%);
    font: 400 1rem 'Inter', sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

button {
    padding: 0px;
    height: 1.5rem;
    display: inline-flex; /* allows item aligning */
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    border-color: hsla(0, 0%, 100%, 1);
    font: 700 1rem 'Inter', sans-serif;
    transition: background 0.3s;
}

input {
    height: 1.5rem;
    border: 1px solid hsla(49, 95%, 58%, 0.966);
}

button:hover {
    background-color: hsla(49, 95%, 58%, 0.966);
}

.logo {
    font: 400 0.8rem 'Inter', sans-serif;
    text-decoration: none;
    color:hsla(49, 95%, 58%, 0.966);
}

.title {
    font: 700 3rem 'Inter', sans-serif;
    color:hsla(0, 0%, 100%, 1);
}

.small-text {
    font: 300 0.8rem 'Inter', sans-serif;
    color:hsla(0, 0%, 100%, 1);
}

.normal-text {
    font: 400 1rem 'Inter', sans-serif;
    color:hsla(0, 0%, 100%, 1);
    margin: 1rem;
}

.product-discount {
    font: 700 1rem 'Inter', sans-serif;
    color: hsla(0, 100%, 50%, 0.7);
}


/* Header */
#header {
    margin-bottom: 1.5rem;
    height: 3rem;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

nav ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

nav ul li {
    list-style: none;
    display: inline;
    text-align: center;
}

/* Main */
main h1,
main p {
    text-align: center;
}

main #product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

main #register-container {
    display: grid;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}